@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Carr. La Sabiduria# 100<br />
    Salamanca, Gto<br /><abbrtitle =" Teléfono">
        P:</abbr>
        464-464-4644
</address>
<address>
    
    <strong>Soporte:</strong><ahref ="mailto:soporte@mtweb.com">soporte@mtweb.com</a><br /><strong>Ventas:</strong><a href ="mailto:ventas@mtweb.com">ventas@mtweb.com</a>
</address>


