@{
    ViewData["Title"] = "Sistema Académico";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al SisAcad</h1>
    <p>Aprendiendo <a href="/">Construyendo nuesto sistema académico</a>.</p>
</div>
